* {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
    justify-content: center;
}

form div p,
form div input {
    border-bottom: 1px solid lightgray;
    padding: 16px 0;
}

form div p {
    margin-left: 16px;
    padding-right: 16px;
}
